.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  color: white;
  padding: 2px 0;
  background: #d8053a;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
